body{
  font-family: 'Open-sans', sans-serif;
  font-size: 17px;
  line-height: 1.5em
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.container{
  margin: auto;
}

.primaryText{
  color: #56a79a;
}

.primaryBackground{
  color: #56a79a;
}

#mainHeader{
  border-bottom: 1px solid #56a79a;
}

#navBar
